<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bitsailer.yauc">

    <!-- For fetching images and data from unsplash.com -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- additional for google analytics -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- SyncAdapter permissions -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".YaucApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_scheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.PhotoList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitsailer.yauc.ui.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect-uri"
                    android:scheme="@string/unsplash_redirect_uri_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitsailer.yauc.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.InformationActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_information"
            android:parentActivityName=".ui.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitsailer.yauc.ui.DetailActivity" />
        </activity>
        <activity
            android:name=".ui.EditPhotoActivity"
            android:label="@string/edit_text_dialog_title"
            android:parentActivityName=".ui.InformationActivity"
            android:theme="@style/AppTheme.NoActionBar.Floating"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bitsailer.yauc.ui.InformationActivity" />
        </activity>

        <provider
            android:name=".provider.PhotoProvider"
            android:authorities="com.bitsailer.yauc.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".sync.AuthenticatorService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="false"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>
        <service
            android:name=".sync.PhotoManagement"
            android:exported="false" />

        <receiver android:name=".widget.NewPhotosWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.bitsailer.yauc.sync.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_photos_widget_info" />
        </receiver>

        <service
            android:name=".widget.NewPhotosWidgetIntentService"
            android:exported="false" />
    </application>

</manifest>